:root
{
    --text-color: #ffffff;
    --logo-text-color: #FFC736;
    --button-color: #ffc736;
    --text-hover-color: #ffc736;
    --bg-color-barra-lateral: #1E1E1E;
    --bg-color-navbar: #313131;
    --separator-color: #5e5a5a;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body
{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
}

.main
{
    width: 100%;
}

.container
{
    display: flex;
    width: 100%;
}

.barra-lateral
{
    position: absolute;

    background-color: var(--bg-color-barra-lateral);
    width: 20rem;
    height: 100vh;

    color: var(--text-color);
}


.escuela
{
    position: relative;

    font-family: 'Zen Dots', cursive;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    height: 8rem;
}

.escuela .logo img
{
    width: 5rem
}

.escuela .nombre-escuela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--logo-text-color);

    font-size: 1.5rem;
    font-weight: 400;
}

.escuela .button
{   
    position: absolute;
    top: 10px;
    right: -15px;

    background-color: var(--button-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.escuela .button-left
{
    display: flex;
}

.escuela .button-right
{
    display: none;
}

.separator
{
    width: 100%;
    height: 2px;
    background-color: var(--separator-color);
}

.items
{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.item
{   
    height: 3.5rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    padding-left: 2rem;
}

.item i
{
    font-size: 1.2rem;
}

.item.active
{
    background-color: #393939;
    color: var(--text-hover-color)
}

.item:hover
{
    background-color: #393939;
    color: var(--text-hover-color);
    cursor: pointer;
}

.hide{
    width: 4rem;
}

.hide .escuela .nombre-escuela{
    display: none;
}

.hide .escuela .logo img
{
    width: 3rem;
}

.hide .escuela .button-left
{
    display: none;
}

.hide .escuela .button-right
{
    display: flex;
}

.hide .items .item span
{
    display: none;
}

.hide .items .item
{
    padding: 0;
    align-items: center;
    justify-content: center;
}

.hide .items .item .docente-dsp
{
    display: none;
}

.cuerpo
{
    width: 100%;
}

.navbar
{
    background-color: var(--bg-color-navbar);
    height: 5rem;

    display: flex;
    justify-content: space-between;
}

.navbar .title
{
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .title h2
{
    color: var(--logo-text-color);
    font-family: 'Zen Dots', cursive;
    text-align: center;
}

@media (max-width: 840px)
{
    .navbar .title h2
    {
        font-size: 1.2rem;
    }
}

@media (max-width: 565px)
{
    .navbar .title h2
    {
        font-size: 1rem;
    }
}

@media (max-width: 300px)
{
    .navbar .title h2
    {
        font-size: .8rem;
    }
}

.navbar .user
{
    display: flex;
    align-items: center;
}

.navbar .user .separator-column
{
    width: 2px;
    height: 100%;
    background-color: var(--separator-color);
}

.navbar .user .user-info
{
    margin: 0 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbar .user .user-info .photo
{
    display: flex;
    cursor: pointer;
} 

.navbar .user .user-info .photo img
{
    width: 3.5rem;
    border-radius: 50%;
    border: 3px solid var(--button-color) ;
}

.navbar .user .user-info .desc 
{
    text-align: center;
}

.navbar .user .user-info .desc .name
{
    color: var(--logo-text-color);
    font-weight: 600;
}

.navbar .user .user-info .desc .rol
{
    color: var(--text-color);
    font-weight: 400;
}

@media (max-width: 1128px)
{
    .navbar .user .user-info .desc
    {
        display: none;
    }
}

.navbar .opciones
{
    display: none;

    background-color: var(--bg-color-navbar);
    position: absolute;
    top: 5.3rem;
    right: .3rem;
    border-radius:.5rem;

    width: 13rem;
}

.navbar .opciones .item
{
    color: var(--button-color)
}
.navbar .opciones .perfil
{
    border-radius: .5rem .5rem 0 0;
}

.navbar .opciones .exit
{
    margin: .5rem 0;
}

.navbar .opciones .item:hover
{
    background-color: #5e5a5a;
}

